<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Spotify Random Playlist Generator</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
<div class="container">
    <form action="/login" method="POST" style="margin-bottom: 100px">
        <center>
            <h1 class="title" style="margin-top: 4vw;">Randify</h1>
            <h2 class="title2" >Random Spotify Playlist Generator</h2>

            <br><br><br>

            <input type="text" name="playlistName" class="input_box" style="text-align: center;" placeholder="Playlist name">
            <br><br>
            <a class="normal_text">Tracks: </a>
            <span id="rangeValue">20</span>
            <br style="width: 50%" />
            <input class="range" name="numberOfTracks" type="range" value="15" min=0" max="45" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)">

            <script type="text/javascript">
                function rangeSlide(value) {
                    value = (parseInt(value) + 5).toString();
                    document.getElementById('rangeValue').innerHTML = value;
                }
            </script>
            <br><br><br>
            <button type="submit" class="generate_btn" formmethod="post">Generate!</button>

        </center>
    </form>

    <div id="footer"></div>

</div>
</body>
</html>