<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Web API Tutorial</title>
    <link rel="stylesheet" href="./../public/css/main.css">
</head>
<body>

<div class="container" style="margin-bottom: 200px">
    <div class="header">
        <form action=".." method="GET" style="margin-bottom: 1vw; padding-right: 3vw">
            <button class="title3" style="text-align: center;  width: 10vw;" formmethod="get">HOME</button>
        </form>
    </div>
    <center>
        <h1 class="title">Randify</h1>
        <br><br>
        <h2 class="title2" >Playlist is now being created!</h2>
        <h2 class="title3">In a couple of seconds the playlist should be on your Spotify, go check it out!</h2>
    </center>

</div>
<div id="footer"></div>
</body>
</html>